In [1]:
import pandas as pd

In [2]:
titles = pd.read_csv("../Resources/titles.csv")

In [3]:
credits = pd.read_csv("../Resources/credits.csv")

In [4]:
titles_df = pd.DataFrame(titles)

In [5]:
titles_df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,95.337,7.7

In [6]:
credits_df = pd.DataFrame(credits)
credits_df.head()

   person_id       id             name                character   role
0       3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064  tm84618    Albert Brooks                      Tom  ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

In [7]:
credits_df.dtypes

person_id     int64
id           object
name         object
character    object
role         object
dtype: object

In [8]:
titles_df.dtypes

id                       object
title                    object
type                     object
description              object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_id                  object
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
dtype: object

In [9]:
titles_df.notnull().sum()

id                      5806
title                   5805
type                    5806
description             5788
release_year            5806
age_certification       3196
runtime                 5806
genres                  5806
production_countries    5806
seasons                 2047
imdb_id                 5362
imdb_score              5283
imdb_votes              5267
tmdb_popularity         5712
tmdb_score              5488
dtype: int64

In [10]:
titles_df.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2610
runtime                    0
genres                     0
production_countries       0
seasons                 3759
imdb_id                  444
imdb_score               523
imdb_votes               539
tmdb_popularity           94
tmdb_score               318
dtype: int64

In [11]:
titles_df.head(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,95.337,7.7
5,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,72895.0,12.919,8.3
6,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,"['thriller', 'crime', 'action']",['US'],NaN,tt0066999,7.7,153463.0,14.745,7.5
7,tm185072,My Fair Lady,MOVIE,A snobbish phonetics professor agrees to a wag...,1964,G,170,"['drama', 'music', 'romance', 'family']",['US'],NaN,tt0058385,7.8,94121.0,15.949,7.6
8,tm98978,The Blue Lagoon,MOVIE,Two small children and a ship's cook survive a...,1980,R,104,"['romance', 'drama']",['US'],NaN,tt0080453,5.8,69053.0,44.038,6.2
9,tm119281,Bonnie and Clyde,MOVIE,"In the 1930s, bored waitress Bonnie Parker fal...",1967,R,110,"['drama', 'crime', 'action']",['US'],NaN,tt0061418,7.7,111189.0,15.309,7.5

In [12]:
credits_df.isnull().sum()

person_id       0
id              0
name            0
character    9627
role            0
dtype: int64

In [13]:
credits_df = credits_df.drop(columns=['character'])
credits_df

       person_id         id                    name      role
0           3748    tm84618          Robert De Niro     ACTOR
1          14658    tm84618            Jodie Foster     ACTOR
2           7064    tm84618           Albert Brooks     ACTOR
3           3739    tm84618           Harvey Keitel     ACTOR
4          48933    tm84618         Cybill Shepherd     ACTOR
...          ...        ...                     ...       ...
77208    1347054  tm1098060  Nnenna Rachael Okonkwo     ACTOR
77209     157590  tm1098060           Lucien Morgan     ACTOR
77210     129059  tm1098060        Magdalena Korpas     ACTOR
77211    2050199  tm1098060        Mistura Olusanya     ACTOR
77212    2050423  tm1098060              Yemi Amodu  DIRECTOR

[77213 rows x 4 columns]

In [14]:
credits_df.isnull().sum()

person_id    0
id           0
name         0
role         0
dtype: int64

In [15]:
titles2_df = titles_df.drop(columns=["description", "seasons"])
titles2_df

,id,title,type,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],tt0075314,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],tt0071853,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],tt0079470,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],tt0070047,8.1,391942.0,95.337,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5801,tm1014599,Fine Wine,MOVIE,2021,NaN,100,"['romance', 'drama']",['NG'],tt13857480,6.9,39.0,0.966,NaN
5802,tm1108171,Edis Starlight,MOVIE,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,1.036,8.5
5803,tm1045018,Clash,MOVIE,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",tt14620732,6.5,32.0,0.709,NaN
5804,tm1098060,Shadow Parties,MOVIE,2021,NaN,116,"['action', 'thriller']",[],tt10168094,6.2,9.0,2.186,NaN
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,NaN,0,"['family', 'comedy', 'animation']",[],tt13711094,8.8,16.0,0.979,10.0

In [16]:
titles3_df = titles2_df.rename({'type':'movie'}, axis="columns")

In [17]:
list(titles3_df)

['id',
 'title',
 'movie',
 'release_year',
 'age_certification',
 'runtime',
 'genres',
 'production_countries',
 'imdb_id',
 'imdb_score',
 'imdb_votes',
 'tmdb_popularity',
 'tmdb_score']

In [18]:
titles4_df = titles3_df[titles3_df['movie'].str.contains('MOVIE')]

In [19]:
titles4_df

,id,title,movie,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],tt0075314,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],tt0071853,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],tt0079470,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],tt0070047,8.1,391942.0,95.337,7.7
6,tm14873,Dirty Harry,MOVIE,1971,R,102,"['thriller', 'crime', 'action']",['US'],tt0066999,7.7,153463.0,14.745,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5800,tm1040816,Momshies! Your Soul is Mine,MOVIE,2021,NaN,108,['comedy'],['PH'],tt14412240,5.8,26.0,4.112,NaN
5801,tm1014599,Fine Wine,MOVIE,2021,NaN,100,"['romance', 'drama']",['NG'],tt13857480,6.9,39.0,0.966,NaN
5802,tm1108171,Edis Starlight,MOVIE,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,1.036,8.5
5803,tm1045018,Clash,MOVIE,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",tt14620732,6.5,32.0,0.709,NaN
5804,tm1098060,Shadow Parties,MOVIE,2021,NaN,116,"['action', 'thriller']",[],tt10168094,6.2,9.0,2.186,NaN

In [20]:
titles5_df = titles4_df[titles4_df['production_countries'].str.contains('US')]
titles5_df

,id,title,movie,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],tt0075314,8.3,795222.0,27.612,8.2
4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],tt0070047,8.1,391942.0,95.337,7.7
6,tm14873,Dirty Harry,MOVIE,1971,R,102,"['thriller', 'crime', 'action']",['US'],tt0066999,7.7,153463.0,14.745,7.5
7,tm185072,My Fair Lady,MOVIE,1964,G,170,"['drama', 'music', 'romance', 'family']",['US'],tt0058385,7.8,94121.0,15.949,7.6
8,tm98978,The Blue Lagoon,MOVIE,1980,R,104,"['romance', 'drama']",['US'],tt0080453,5.8,69053.0,44.038,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5704,tm1099320,Convergence: Courage in a Crisis,MOVIE,2021,R,113,['documentation'],"['US', 'GB']",tt15398694,5.4,252.0,9.258,5.2
5720,tm1019084,Ginny & Georgia - The Afterparty,MOVIE,2021,R,35,[],"['US', 'CA']",NaN,NaN,NaN,7.610,7.8
5777,tm1094060,My Heroes Were Cowboys,MOVIE,2021,PG,23,['documentation'],['US'],tt15084326,NaN,NaN,3.688,7.7
5780,tm1074617,Bling Empire - The Afterparty,MOVIE,2021,NaN,35,[],['US'],NaN,NaN,NaN,NaN,NaN
5783,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,2021,PG-13,37,[],['US'],NaN,NaN,NaN,1.060,10.0

In [21]:
credits_df

       person_id         id                    name      role
0           3748    tm84618          Robert De Niro     ACTOR
1          14658    tm84618            Jodie Foster     ACTOR
2           7064    tm84618           Albert Brooks     ACTOR
3           3739    tm84618           Harvey Keitel     ACTOR
4          48933    tm84618         Cybill Shepherd     ACTOR
...          ...        ...                     ...       ...
77208    1347054  tm1098060  Nnenna Rachael Okonkwo     ACTOR
77209     157590  tm1098060           Lucien Morgan     ACTOR
77210     129059  tm1098060        Magdalena Korpas     ACTOR
77211    2050199  tm1098060        Mistura Olusanya     ACTOR
77212    2050423  tm1098060              Yemi Amodu  DIRECTOR

[77213 rows x 4 columns]

In [22]:
cleaned_titles = titles5_df
cleaned_titles

,id,title,movie,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],tt0075314,8.3,795222.0,27.612,8.2
4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],tt0070047,8.1,391942.0,95.337,7.7
6,tm14873,Dirty Harry,MOVIE,1971,R,102,"['thriller', 'crime', 'action']",['US'],tt0066999,7.7,153463.0,14.745,7.5
7,tm185072,My Fair Lady,MOVIE,1964,G,170,"['drama', 'music', 'romance', 'family']",['US'],tt0058385,7.8,94121.0,15.949,7.6
8,tm98978,The Blue Lagoon,MOVIE,1980,R,104,"['romance', 'drama']",['US'],tt0080453,5.8,69053.0,44.038,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5704,tm1099320,Convergence: Courage in a Crisis,MOVIE,2021,R,113,['documentation'],"['US', 'GB']",tt15398694,5.4,252.0,9.258,5.2
5720,tm1019084,Ginny & Georgia - The Afterparty,MOVIE,2021,R,35,[],"['US', 'CA']",NaN,NaN,NaN,7.610,7.8
5777,tm1094060,My Heroes Were Cowboys,MOVIE,2021,PG,23,['documentation'],['US'],tt15084326,NaN,NaN,3.688,7.7
5780,tm1074617,Bling Empire - The Afterparty,MOVIE,2021,NaN,35,[],['US'],NaN,NaN,NaN,NaN,NaN
5783,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,2021,PG-13,37,[],['US'],NaN,NaN,NaN,1.060,10.0

In [49]:
imdb_score = cleaned_titles[cleaned_titles['imdb_score']>=8.0]
imdb_score

,id,title,movie,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],tt0075314,8.3,795222.0,27.612,8.2
4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],tt0070047,8.1,391942.0,95.337,7.7
13,tm69997,Richard Pryor: Live in Concert,MOVIE,1979,R,78,"['comedy', 'documentation']",['US'],tt0079807,8.1,5141.0,4.681,7.5
48,tm111075,Stand by Me,MOVIE,1986,R,89,['drama'],['US'],tt0092005,8.1,392790.0,16.096,7.9
49,tm180542,Once Upon a Time in America,MOVIE,1984,R,229,"['drama', 'crime', 'european']","['US', 'IT']",tt0087843,8.3,342335.0,21.322,8.4
52,tm22327,Full Metal Jacket,MOVIE,1987,R,116,"['drama', 'war']","['GB', 'US']",tt0093058,8.3,723306.0,36.502,8.1
108,tm122434,Forrest Gump,MOVIE,1994,PG-13,142,"['drama', 'romance', 'comedy']",['US'],tt0109830,8.8,1994599.0,57.114,8.5
111,tm57554,Saving Private Ryan,MOVIE,1998,R,169,"['drama', 'war']",['US'],tt0120815,8.6,1346020.0,54.874,8.2
260,tm92641,Inception,MOVIE,2010,PG-13,148,"['scifi', 'music', 'thriller', 'action']","['GB', 'US']",tt1375666,8.8,2268288.0,109.090,8.4
262,tm87484,How to Train Your Dragon,MOVIE,2010,PG,98,"['fantasy', 'animation', 'action', 'comedy', '...",['US'],tt0892769,8.1,719717.0,71.782,7.8
264,tm39030,Casino Royale,MOVIE,2006,NaN,139,"['thriller', 'action', 'european']","['GB', 'US', 'BS', 'CZ', 'DE']",tt0381061,8.0,644336.0,41.332,7.5
281,tm139658,Big Fish,MOVIE,2003,PG-13,125,"['drama', 'fantasy', 'romance']",['US'],tt0319061,8.0,435503.0,21.904,7.8
282,tm79442,The Bourne Ultimatum,MOVIE,2007,PG-13,115,"['thriller', 'action']","['DE', 'ES', 'US', 'FR']",tt0440963,8.0,627009.0,25.464,7.4
295,tm76066,Into the Wild,MOVIE,2007,R,140,['drama'],['US'],tt0758758,8.1,611379.0,15.658,7.8
319,tm32919,Blood Diamond,MOVIE,2006,R,143,"['thriller', 'drama']","['US', 'DE']",tt0450259,8.0,536858.0,40.209,7.5
405,tm104880,Louis C.K.: Hilarious,MOVIE,2010,NaN,84,['comedy'],['US'],tt1421373,8.4,11973.0,7.387,7.9
448,tm30289,Jeff Dunham: Arguing with Myself,MOVIE,2006,PG-13,76,"['comedy', 'documentation']",['US'],tt0806102,8.0,3984.0,4.891,6.7
509,tm82765,Swades,MOVIE,2004,G,189,"['drama', 'european']","['IN', 'US']",tt0367110,8.1,89085.0,7.152,7.4
519,tm25842,A Lion in the House,MOVIE,2006,NaN,225,['documentation'],['US'],tt0492472,8.7,312.0,2.821,6.5
706,tm41792,Django Unchained,MOVIE,2012,R,165,"['western', 'drama']",['US'],tt1853728,8.4,1472668.0,56.588,8.1
716,tm166548,Warrior,MOVIE,2011,PG-13,140,"['drama', 'action', 'sport']",['US'],tt1291584,8.2,463276.0,74.092,7.8
770,tm72845,John Mulaney: New in Town,MOVIE,2012,NaN,58,"['comedy', 'documentation']",['US'],tt2246779,8.2,6608.0,5.184,8.1
784,tm28171,Bill Burr: You People Are All The Same,MOVIE,2012,R,68,['comedy'],['US'],tt2290153,8.2,7370.0,7.250,7.5
796,tm53034,Sebastian Maniscalco: What's Wrong with People?,MOVIE,2012,NaN,75,['comedy'],['US'],tt2215489,8.0,1194.0,3.129,7.9
925,tm169422,Her,MOVIE,2013,R,126,"['drama', 'romance', 'scifi']",['US'],tt1798709,8.0,586679.0,29.436,7.9
927,tm140877,The Imitation Game,MOVIE,2014,PG-13,113,"['thriller', 'drama', 'war']","['US', 'GB']",tt2084970,8.0,748654.0,46.710,8.0
933,tm176864,Rush,MOVIE,2013,R,123,"['drama', 'action', 'sport', 'european']","['US', 'DE', 'GB']",tt1979320,8.1,465254.0,34.763,7.7
1002,tm148976,The Battered Bastards of Baseball,MOVIE,2014,R,80,"['documentation', 'sport']",['US'],tt3445270,8.0,3953.0,6.340,7.6
1007,tm162271,Bo Burnham: What.,MOVIE,2013,NaN,60,"['comedy', 'music', 'documentation']",['US'],tt3210258,8.3,11488.0,5.747,7.9
1015,tm151716,Cowspiracy: The Sustainability Secret,MOVIE,2014,NaN,90,['documentation'],['US'],tt4344904,8.2,24845.0,10.130,7.8
1019,tm171965,Mike Birbiglia: My Girlfriend's Boyfriend,MOVIE,2013,NaN,75,"['drama', 'documentation', 'comedy', 'romance']",['US'],tt2937390,8.0,3284.0,3.449,7.5
1023,tm149038,Bill Burr: I'm Sorry You Feel That Way,MOVIE,2014,NaN,80,"['comedy', 'documentation']",['US'],tt3823690,8.3,7954.0,6.968,7.7
1031,tm187390,The Square,MOVIE,2013,NaN,88,"['drama', 'history', 'documentation']","['GB', 'US', 'EG']",tt2486682,8.1,8949.0,5.613,7.8
1110,tm149914,Jim Jefferies: Bare,MOVIE,2014,R,76,['comedy'],['US'],tt3958494,8.0,5407.0,7.515,7.5
1325,tm220594,Winter on Fire: Ukraine's Fight for Freedom,MOVIE,2015,NaN,98,['documentation'],"['UA', 'GB', 'US']",tt4908644,8.3,17710.0,11.354,8.0
1333,tm244788,13th,MOVIE,2016,NaN,100,"['documentation', 'history', 'crime']",['US'],tt5895028,8.2,34914.0,10.311,8.0
1398,tm242736,Bo Burnham: Make Happy,MOVIE,2016,NaN,60,"['comedy', 'music', 'documentation']",['US'],tt5777636,8.4,14356.0,7.462,8.1
1827,tm239091,Blade Runner 2049,MOVIE,2017,R,164,"['scifi', 'thriller', 'action', 'drama']","['CA', 'HU', 'MX', 'ES', 'GB', 'US']",tt1856101,8.0,539864.0,61.861,7.5
2298,tm445735,Springsteen On Broadway,MOVIE,2018,NaN,153,"['documentation', 'music']",['US'],tt8716334,8.5,2178.0,5.263,8.0
2305,tm349529,Cuba and the Cameraman,MOVIE,2017,NaN,113,['documentation'],"['CU', 'US']",tt7320560,8.3,4715.0,8.738,7.7
2319,tm322569,Hasan Minhaj: Homecoming King,MOVIE,2017,NaN,72,"['comedy', 'documentation']",['US'],tt6900940,8.2,7120.0,5.727,7.8
2336,tm313487,Bending the Arc,MOVIE,2017,NaN,102,['documentation'],['US'],tt6370266,8.0,314.0,4.813,8.0
2361,tm448122,Taylor Swift: Reputation Stadium Tour,MOVIE,2018,PG-13,125,"['documentation', 'music']",['US'],tt9426852,8.3,5293.0,11.864,8.2
2484,tm313120,Chasing Coral,MOVIE,2017,NaN,93,['documentation'],['US'],tt6333054,8.1,5143.0,10.875,7.9
3327,tm927480,Kiss the Ground,MOVIE,2020,NaN,84,['documentation'],['US'],tt8618654,8.2,6607.0,9.895,8.1
3467,tm827216,Bill Burr: Paper Tiger,MOVIE,2019,NaN,67,['comedy'],"['GB', 'US']",tt10847306,8.1,10649.0,6.247,7.3
3469,tm369389,The Silence of Others,MOVIE,2019,NaN,95,"['documentation', 'history', 'european']","['FR', 'ES', 'US', 'CA']",tt8099236,8.0,2048.0,10.349,8.2
3538,tm827142,Dave Chappelle: Sticks & Stones,MOVIE,2019,R,65,['comedy'],['US'],tt10810424,8.4,25687.0,12.023,7.7
3625,tm845437,Disclosure,MOVIE,2020,NaN,107,['documentation'],['US'],tt8637504,8.2,5301.0,12.967,8.2
4214,tm825102,Our Planet: Behind the Scenes,MOVIE,2019,NaN,63,['documentation'],"['US', 'GB']",tt10746342,8.4,1672.0,8.629,7.9
4879,tm937814,The Alpinist,MOVIE,2021,PG-13,92,['documentation'],"['US', 'AT', 'GB']",tt11790780,8.0,7192.0,9.969,7.7
4944,tm1038686,Bo Burnham: Inside,MOVIE,2021,R,87,"['comedy', 'drama', 'music', 'reality']",['US'],tt14545352,8.7,44074.0,12.489,8.3
5054,tm1108321,Dave Chappelle: The Closer,MOVIE,2021,NaN,72,['comedy'],['US'],tt15523010,8.0,24903.0,9.182,7.3
5079,tm1018890,Seaspiracy,MOVIE,2021,NaN,80,['documentation'],['US'],tt14152756,8.1,29604.0,9.255,7.9
5512,tm1040733,In Our Mothers' Gardens,MOVIE,2021,NaN,84,['documentation'],['US'],tt14369930,8.6,124.0,2.310,NaN

In [84]:
imdb_score.sort_values(by=['imdb_score'], ascending=False)

,id,title,movie,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
260,tm92641,Inception,MOVIE,2010,PG-13,148,"['scifi', 'music', 'thriller', 'action']","['GB', 'US']",tt1375666,8.8,2268288.0,109.090,8.4
108,tm122434,Forrest Gump,MOVIE,1994,PG-13,142,"['drama', 'romance', 'comedy']",['US'],tt0109830,8.8,1994599.0,57.114,8.5
4944,tm1038686,Bo Burnham: Inside,MOVIE,2021,R,87,"['comedy', 'drama', 'music', 'reality']",['US'],tt14545352,8.7,44074.0,12.489,8.3
519,tm25842,A Lion in the House,MOVIE,2006,NaN,225,['documentation'],['US'],tt0492472,8.7,312.0,2.821,6.5
111,tm57554,Saving Private Ryan,MOVIE,1998,R,169,"['drama', 'war']",['US'],tt0120815,8.6,1346020.0,54.874,8.2
5512,tm1040733,In Our Mothers' Gardens,MOVIE,2021,NaN,84,['documentation'],['US'],tt14369930,8.6,124.0,2.310,NaN
2298,tm445735,Springsteen On Broadway,MOVIE,2018,NaN,153,"['documentation', 'music']",['US'],tt8716334,8.5,2178.0,5.263,8.0
3538,tm827142,Dave Chappelle: Sticks & Stones,MOVIE,2019,R,65,['comedy'],['US'],tt10810424,8.4,25687.0,12.023,7.7
4214,tm825102,Our Planet: Behind the Scenes,MOVIE,2019,NaN,63,['documentation'],"['US', 'GB']",tt10746342,8.4,1672.0,8.629,7.9
1398,tm242736,Bo Burnham: Make Happy,MOVIE,2016,NaN,60,"['comedy', 'music', 'documentation']",['US'],tt5777636,8.4,14356.0,7.462,8.1
405,tm104880,Louis C.K.: Hilarious,MOVIE,2010,NaN,84,['comedy'],['US'],tt1421373,8.4,11973.0,7.387,7.9
706,tm41792,Django Unchained,MOVIE,2012,R,165,"['western', 'drama']",['US'],tt1853728,8.4,1472668.0,56.588,8.1
2361,tm448122,Taylor Swift: Reputation Stadium Tour,MOVIE,2018,PG-13,125,"['documentation', 'music']",['US'],tt9426852,8.3,5293.0,11.864,8.2
2305,tm349529,Cuba and the Cameraman,MOVIE,2017,NaN,113,['documentation'],"['CU', 'US']",tt7320560,8.3,4715.0,8.738,7.7
1325,tm220594,Winter on Fire: Ukraine's Fight for Freedom,MOVIE,2015,NaN,98,['documentation'],"['UA', 'GB', 'US']",tt4908644,8.3,17710.0,11.354,8.0
1023,tm149038,Bill Burr: I'm Sorry You Feel That Way,MOVIE,2014,NaN,80,"['comedy', 'documentation']",['US'],tt3823690,8.3,7954.0,6.968,7.7
1007,tm162271,Bo Burnham: What.,MOVIE,2013,NaN,60,"['comedy', 'music', 'documentation']",['US'],tt3210258,8.3,11488.0,5.747,7.9
1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],tt0075314,8.3,795222.0,27.612,8.2
49,tm180542,Once Upon a Time in America,MOVIE,1984,R,229,"['drama', 'crime', 'european']","['US', 'IT']",tt0087843,8.3,342335.0,21.322,8.4
52,tm22327,Full Metal Jacket,MOVIE,1987,R,116,"['drama', 'war']","['GB', 'US']",tt0093058,8.3,723306.0,36.502,8.1
716,tm166548,Warrior,MOVIE,2011,PG-13,140,"['drama', 'action', 'sport']",['US'],tt1291584,8.2,463276.0,74.092,7.8
770,tm72845,John Mulaney: New in Town,MOVIE,2012,NaN,58,"['comedy', 'documentation']",['US'],tt2246779,8.2,6608.0,5.184,8.1
784,tm28171,Bill Burr: You People Are All The Same,MOVIE,2012,R,68,['comedy'],['US'],tt2290153,8.2,7370.0,7.250,7.5
2319,tm322569,Hasan Minhaj: Homecoming King,MOVIE,2017,NaN,72,"['comedy', 'documentation']",['US'],tt6900940,8.2,7120.0,5.727,7.8
3327,tm927480,Kiss the Ground,MOVIE,2020,NaN,84,['documentation'],['US'],tt8618654,8.2,6607.0,9.895,8.1
1333,tm244788,13th,MOVIE,2016,NaN,100,"['documentation', 'history', 'crime']",['US'],tt5895028,8.2,34914.0,10.311,8.0
1015,tm151716,Cowspiracy: The Sustainability Secret,MOVIE,2014,NaN,90,['documentation'],['US'],tt4344904,8.2,24845.0,10.130,7.8
3625,tm845437,Disclosure,MOVIE,2020,NaN,107,['documentation'],['US'],tt8637504,8.2,5301.0,12.967,8.2
509,tm82765,Swades,MOVIE,2004,G,189,"['drama', 'european']","['IN', 'US']",tt0367110,8.1,89085.0,7.152,7.4
1031,tm187390,The Square,MOVIE,2013,NaN,88,"['drama', 'history', 'documentation']","['GB', 'US', 'EG']",tt2486682,8.1,8949.0,5.613,7.8
262,tm87484,How to Train Your Dragon,MOVIE,2010,PG,98,"['fantasy', 'animation', 'action', 'comedy', '...",['US'],tt0892769,8.1,719717.0,71.782,7.8
3467,tm827216,Bill Burr: Paper Tiger,MOVIE,2019,NaN,67,['comedy'],"['GB', 'US']",tt10847306,8.1,10649.0,6.247,7.3
48,tm111075,Stand by Me,MOVIE,1986,R,89,['drama'],['US'],tt0092005,8.1,392790.0,16.096,7.9
295,tm76066,Into the Wild,MOVIE,2007,R,140,['drama'],['US'],tt0758758,8.1,611379.0,15.658,7.8
4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],tt0070047,8.1,391942.0,95.337,7.7
933,tm176864,Rush,MOVIE,2013,R,123,"['drama', 'action', 'sport', 'european']","['US', 'DE', 'GB']",tt1979320,8.1,465254.0,34.763,7.7
13,tm69997,Richard Pryor: Live in Concert,MOVIE,1979,R,78,"['comedy', 'documentation']",['US'],tt0079807,8.1,5141.0,4.681,7.5
5079,tm1018890,Seaspiracy,MOVIE,2021,NaN,80,['documentation'],['US'],tt14152756,8.1,29604.0,9.255,7.9
2484,tm313120,Chasing Coral,MOVIE,2017,NaN,93,['documentation'],['US'],tt6333054,8.1,5143.0,10.875,7.9
4879,tm937814,The Alpinist,MOVIE,2021,PG-13,92,['documentation'],"['US', 'AT', 'GB']",tt11790780,8.0,7192.0,9.969,7.7
3469,tm369389,The Silence of Others,MOVIE,2019,NaN,95,"['documentation', 'history', 'european']","['FR', 'ES', 'US', 'CA']",tt8099236,8.0,2048.0,10.349,8.2
5054,tm1108321,Dave Chappelle: The Closer,MOVIE,2021,NaN,72,['comedy'],['US'],tt15523010,8.0,24903.0,9.182,7.3
281,tm139658,Big Fish,MOVIE,2003,PG-13,125,"['drama', 'fantasy', 'romance']",['US'],tt0319061,8.0,435503.0,21.904,7.8
2336,tm313487,Bending the Arc,MOVIE,2017,NaN,102,['documentation'],['US'],tt6370266,8.0,314.0,4.813,8.0
264,tm39030,Casino Royale,MOVIE,2006,NaN,139,"['thriller', 'action', 'european']","['GB', 'US', 'BS', 'CZ', 'DE']",tt0381061,8.0,644336.0,41.332,7.5
1827,tm239091,Blade Runner 2049,MOVIE,2017,R,164,"['scifi', 'thriller', 'action', 'drama']","['CA', 'HU', 'MX', 'ES', 'GB', 'US']",tt1856101,8.0,539864.0,61.861,7.5
448,tm30289,Jeff Dunham: Arguing with Myself,MOVIE,2006,PG-13,76,"['comedy', 'documentation']",['US'],tt0806102,8.0,3984.0,4.891,6.7
282,tm79442,The Bourne Ultimatum,MOVIE,2007,PG-13,115,"['thriller', 'action']","['DE', 'ES', 'US', 'FR']",tt0440963,8.0,627009.0,25.464,7.4
1110,tm149914,Jim Jefferies: Bare,MOVIE,2014,R,76,['comedy'],['US'],tt3958494,8.0,5407.0,7.515,7.5
1019,tm171965,Mike Birbiglia: My Girlfriend's Boyfriend,MOVIE,2013,NaN,75,"['drama', 'documentation', 'comedy', 'romance']",['US'],tt2937390,8.0,3284.0,3.449,7.5
319,tm32919,Blood Diamond,MOVIE,2006,R,143,"['thriller', 'drama']","['US', 'DE']",tt0450259,8.0,536858.0,40.209,7.5
927,tm140877,The Imitation Game,MOVIE,2014,PG-13,113,"['thriller', 'drama', 'war']","['US', 'GB']",tt2084970,8.0,748654.0,46.710,8.0
925,tm169422,Her,MOVIE,2013,R,126,"['drama', 'romance', 'scifi']",['US'],tt1798709,8.0,586679.0,29.436,7.9
796,tm53034,Sebastian Maniscalco: What's Wrong with People?,MOVIE,2012,NaN,75,['comedy'],['US'],tt2215489,8.0,1194.0,3.129,7.9
1002,tm148976,The Battered Bastards of Baseball,MOVIE,2014,R,80,"['documentation', 'sport']",['US'],tt3445270,8.0,3953.0,6.340,7.6

In [87]:
g = imdb_score["age_certification"].str.contains('G').sum()
pg = imdb_score["age_certification"].str.contains('PG').sum()
pg13 = imdb_score["age_certification"].str.contains('PG-13').sum()
r = imdb_score["age_certification"].str.contains('R').sum()
print (g)
print (pg)
print (pg13)
print (r)

11
10
9
18