In [26]:
import pandas as pd

In [33]:
titles = pd.read_csv("../content/cleaned_movie_db.csv")

In [28]:
credits = pd.read_csv("../content/cleaned_credits.csv")

In [34]:
titles = pd.DataFrame(titles)
credits = pd.DataFrame(credits)

In [36]:
imdb_score = titles[titles['imdb_score']>=8.0]
imdb_score.head()

,index,title,id,movie,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,1,Taxi Driver,tm84618,MOVIE,1976,R,113,"[''crime'', ''drama'']",['US'],tt0075314,8.3,795222.0,27.612,8.2
1,4,The Exorcist,tm190788,MOVIE,1973,R,133,['horror'],['US'],tt0070047,8.1,391942.0,95.337,7.7
8,13,Richard Pryor: Live in Concert,tm69997,MOVIE,1979,R,78,"[''comedy'', ''documentation'']",['US'],tt0079807,8.1,5141.0,4.681,7.5
14,48,Stand by Me,tm111075,MOVIE,1986,R,89,['drama'],['US'],tt0092005,8.1,392790.0,16.096,7.9
15,49,Once Upon a Time in America,tm180542,MOVIE,1984,R,229,"[''drama'', ''crime'', ''european'']","[''US'', ''IT'']",tt0087843,8.3,342335.0,21.322,8.4

In [41]:
imdb_sort = imdb_score.sort_values(['imdb_score'], ascending=False)
imdb_sort.head(20)

,index,title,id,movie,release_year,age_certification,runtime,genres,production_countries,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
104,260,Inception,tm92641,MOVIE,2010,PG-13,148,"[''scifi'', ''music'', ''thriller'', ''action'']","[''GB'', ''US'']",tt1375666,8.8,2268288.0,109.090,8.4
40,108,Forrest Gump,tm122434,MOVIE,1994,PG-13,142,"[''drama'', ''romance'', ''comedy'']",['US'],tt0109830,8.8,1994599.0,57.114,8.5
1383,4944,Bo Burnham: Inside,tm1038686,MOVIE,2021,R,87,"[''comedy'', ''drama'', ''music'', ''reality'']",['US'],tt14545352,8.7,44074.0,12.489,8.3
240,519,A Lion in the House,tm25842,MOVIE,2006,NaN,225,['documentation'],['US'],tt0492472,8.7,312.0,2.821,6.5
42,111,Saving Private Ryan,tm57554,MOVIE,1998,R,169,"[''drama'', ''war'']",['US'],tt0120815,8.6,1346020.0,54.874,8.2
1500,5512,In Our Mothers' Gardens,tm1040733,MOVIE,2021,NaN,84,['documentation'],['US'],tt14369930,8.6,124.0,2.310,NaN
744,2298,Springsteen On Broadway,tm445735,MOVIE,2018,NaN,153,"[''documentation'', ''music'']",['US'],tt8716334,8.5,2178.0,5.263,8.0
1076,3538,Dave Chappelle: Sticks & Stones,tm827142,MOVIE,2019,R,65,['comedy'],['US'],tt10810424,8.4,25687.0,12.023,7.7
1251,4214,Our Planet: Behind the Scenes,tm825102,MOVIE,2019,NaN,63,['documentation'],"[''US'', ''GB'']",tt10746342,8.4,1672.0,8.629,7.9
486,1398,Bo Burnham: Make Happy,tm242736,MOVIE,2016,NaN,60,"[''comedy'', ''music'', ''documentation'']",['US'],tt5777636,8.4,14356.0,7.462,8.1
208,405,Louis C.K.: Hilarious,tm104880,MOVIE,2010,NaN,84,['comedy'],['US'],tt1421373,8.4,11973.0,7.387,7.9
261,706,Django Unchained,tm41792,MOVIE,2012,R,165,"[''western'', ''drama'']",['US'],tt1853728,8.4,1472668.0,56.588,8.1
765,2361,Taylor Swift: Reputation Stadium Tour,tm448122,MOVIE,2018,PG-13,125,"[''documentation'', ''music'']",['US'],tt9426852,8.3,5293.0,11.864,8.2
746,2305,Cuba and the Cameraman,tm349529,MOVIE,2017,NaN,113,['documentation'],"[''CU'', ''US'']",tt7320560,8.3,4715.0,8.738,7.7
451,1325,Winter on Fire: Ukraine's Fight for Freedom,tm220594,MOVIE,2015,NaN,98,['documentation'],"[''UA'', ''GB'', ''US'']",tt4908644,8.3,17710.0,11.354,8.0
378,1023,Bill Burr: I'm Sorry You Feel That Way,tm149038,MOVIE,2014,NaN,80,"[''comedy'', ''documentation'']",['US'],tt3823690,8.3,7954.0,6.968,7.7
367,1007,Bo Burnham: What.,tm162271,MOVIE,2013,NaN,60,"[''comedy'', ''music'', ''documentation'']",['US'],tt3210258,8.3,11488.0,5.747,7.9
0,1,Taxi Driver,tm84618,MOVIE,1976,R,113,"[''crime'', ''drama'']",['US'],tt0075314,8.3,795222.0,27.612,8.2
15,49,Once Upon a Time in America,tm180542,MOVIE,1984,R,229,"[''drama'', ''crime'', ''european'']","[''US'', ''IT'']",tt0087843,8.3,342335.0,21.322,8.4
18,52,Full Metal Jacket,tm22327,MOVIE,1987,R,116,"[''drama'', ''war'']","[''GB'', ''US'']",tt0093058,8.3,723306.0,36.502,8.1

In [56]:
g = imdb_score["age_certification"].str.contains('G').sum()
pg = imdb_score["age_certification"].str.contains('PG').sum()
pg13 = imdb_score["age_certification"].str.contains('PG-13').sum()
r = imdb_score["age_certification"].str.contains('R').sum()
print (g, pg, pg13, r)

11 10 9 18

In [44]:
average_runtime = imdb_score["runtime"].mean()
average_runtime

108.07272727272728

In [61]:
genre_list = imdb_score["genres"].tolist()
genres = []
genres.append(genre_list)
print (genres)

[["[''crime'', ''drama'']", "['horror']", "[''comedy'', ''documentation'']", "['drama']", "[''drama'', ''crime'', ''european'']", "[''drama'', ''war'']", "[''drama'', ''romance'', ''comedy'']", "[''drama'', ''war'']", "[''scifi'', ''music'', ''thriller'', ''action'']", "[''fantasy'', ''animation'', ''action'', ''comedy'', ''family'', ''drama'']", "[''thriller'', ''action'', ''european'']", "[''drama'', ''fantasy'', ''romance'']", "[''thriller'', ''action'']", "['drama']", "[''thriller'', ''drama'']", "['comedy']", "[''comedy'', ''documentation'']", "[''drama'', ''european'']", "['documentation']", "[''western'', ''drama'']", "[''drama'', ''action'', ''sport'']", "[''comedy'', ''documentation'']", "['comedy']", "['comedy']", "[''drama'', ''romance'', ''scifi'']", "[''thriller'', ''drama'', ''war'']", "[''drama'', ''action'', ''sport'', ''european'']", "[''documentation'', ''sport'']", "[''comedy'', ''music'', ''documentation'']", "['documentation']", "[''drama'', ''documentation'', ''comedy'', ''romance'']", "[''comedy'', ''documentation'']", "[''drama'', ''history'', ''documentation'']", "['comedy']", "['documentation']", "[''documentation'', ''history'', ''crime'']", "[''comedy'', ''music'', ''documentation'']", "[''scifi'', ''thriller'', ''action'', ''drama'']", "[''documentation'', ''music'']", "['documentation']", "[''comedy'', ''documentation'']", "['documentation']", "[''documentation'', ''music'']", "['documentation']", "['documentation']", "['comedy']", "[''documentation'', ''history'', ''european'']", "['comedy']", "['documentation']", "['documentation']", "['documentation']", "[''comedy'', ''drama'', ''music'', ''reality'']", "['comedy']", "['documentation']", "['documentation']"]]

In [73]:
crime = imdb_score["genres"].str.contains('crime').sum()
drama = imdb_score["genres"].str.contains('drama').sum()
horror = imdb_score["genres"].str.contains('horror').sum()
comedy = imdb_score["genres"].str.contains('comedy').sum()
documentation = imdb_score["genres"].str.contains('documentation').sum()
war = imdb_score["genres"].str.contains('war').sum()
romance = imdb_score["genres"].str.contains('romance').sum()
thriller = imdb_score["genres"].str.contains('thriller').sum()
scifi = imdb_score["genres"].str.contains('scifi').sum()
animation = imdb_score["genres"].str.contains('animation').sum()
action = imdb_score["genres"].str.contains('action').sum()
music = imdb_score["genres"].str.contains('music').sum()
reality = imdb_score["genres"].str.contains('reality').sum()
history = imdb_score["genres"].str.contains('history').sum()
sport = imdb_score["genres"].str.contains('sport').sum()
western = imdb_score["genres"].str.contains('western').sum()
family = imdb_score["genres"].str.contains('family').sum()

In [74]:
print (crime)
print (drama)
print (horror)
print (comedy)
print (documentation)
print (war)
print (romance)
print (thriller)
print (scifi)
print (animation)
print (action)
print (music)
print (reality)
print (history)
print (sport)
print (western)
print (family)

3
20
1
18
26
3
4
6
3
1
7
6
1
3
3
1
1